$font-primary: 'Prompt';
$font-secondary: 'Lato';

//Font-Styles
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-light: 300;


$body-font-size-xs: 14px;
$body-font-size: 14px;

//Searh Filter:
$title-font-size-xs: 1.3rem;
$title-font-size: 2.14rem;
