* {
  box-sizing: border-box;
}

.container {
  max-width: $container-width-xs;
  margin: 0 auto;
  padding: $padding-container;
}

.hide-scroll {
  overflow: hidden;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.img-container {
  position: relative;
  overflow: hidden;
  background-color: $black;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

@include tablet-sm {
  .container {
    width: $container-width-sm;
    padding: 0;
  }
}

@include tablet-md {
  .container {
    width: $container-width-md;
  }
}

@include desktop {
  .container {
    max-width: $container-width-lg;
  }
}


