.checkbox-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: .8rem;
  cursor: pointer;
  user-select: none;

  // Hide the browser's default checkbox
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    // When the checkbox is checked, add a blue background
    &:checked ~ .checkmark {
      background-color: $checkbox-background-color;

      // Show the checkmark when checked
      &:after {
        display: block;
      }
    }
  }

  // Create a custom checkbox
  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid $checkbox-background-color;

    // Create the checkmark/indicator (hidden when not checked)
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 0;
      top: -2px;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@include desktop {
  .checkbox-container {
    // On mouse-over, add background color light
    &:hover {
      input ~ .checkmark {
        background-color: $checkbox-background-hover-color;
        border-color: $checkbox-background-hover-color;
      }
    }
  }
}
