select {
  cursor: pointer;
  width: 100%;
  background-color: $white;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid $input-border-color;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include focusOutlineTransition;
  position: relative;

  &:focus {
    @include focusOutline;
  }

  &::-ms-expand {
    display: none;
  }
}

.select-container {
  position: relative;


  select {
    padding: 10px 44px 10px 12px;
  }

  .select-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 13px;
    height: 13px;
    pointer-events: none;
    transform: translateY(-50%);

    &:after {
      content: '';
      background-image: url($arrow-down);
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: .7;
    }
  }
}
